@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Poppins:wght@300&display=swap');


header {
    background-color: #B08968;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo, .icon{
    width: 80px;
}

#Logo_link{
    padding-top: 5px;
    justify-self: center;
    align-content: center;
}


#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: right;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}